# (Required) Authentication OAuth Client ID the FileFlex server
FBWEB_AUTH_CLIENT_ID=string

# (Required) Authentication refresh-token for accessing the FileFlex server
FBWEB_AUTH_REFRESH_TOKEN=string

# (Optional) The FileFlex server base url, defaults to https://fileflex.com
FBWEB_BASE_URL=string